mixin panel(number)
  .panel
    .panel__inputName Минимальное значение:
      input(type="text").panel__minValue
    .panel__inputName Максимальное значение:
      input(type="text").panel__maxValue
    .panel__inputName Тек. значение:
      input(type="text").panel__curValue
    .panel__inputName
      input(type="checkbox" name="showValueNote" id=`showValue+${number}`).panel__showNoteValue.panel__checkbox
      label(for=`showValue+${number}`) Показать значения
    .panel__inputName Шаг:
      input(type="text").panel__step
    .panel__inputName
      input(type="checkbox" name="verticalView" id=`verticalView+${number}`).panel__verticalView.panel__checkbox
      label(for=`verticalView+${number}`) Вертикальный вид
    .panel__inputName
      input(type="checkbox" name="double" id=`double+${number}`).panel__double.panel__checkbox
      label(for=`double+${number}`) Диапазон
    .panel__inputName От:
      input(type="text").panel__from
    .panel__inputName До:
      input(type="text").panel__to
